
.logo
	display: none
	background: image-url("2014-logo.png")
	width: image-width("2014-logo.png")
	height: image-height("2014-logo.png")
	float: left
	+at-breakpoint($pc)
		display: block
	@media #{$retina-display-media}
		background: image-url("2014-logo2x.png")
		+background-size(image-width("2014-logo.png") auto)




    
    
  