
html 
	background: $color-bg
	background: image-url("bg.png") $color-bg

html, body
	overflow-x: hidden

.container 
	+container()
	// overflow: hidden
	margin: 0 auto
	//+susy-grid-background()
	+at-breakpoint($pad)
		//+set-container-width
		//+susy-grid-background()
	+at-breakpoint($pc)
		//+set-container-width
		//+susy-grid-background()
.index
	display: block
	+at-breakpoint($pc)
		h1
			display: none
		img 

+grid-system($wrap-padding: $gutter-width/2)
//by Casper

.content
	+span-columns($total-columns omega)
	+transition(all,.3s)
	.open & 
		margin-right: - space($side)
	+at-breakpoint($pad)
		.open & 
			margin-right: - space($side)



.mobile-only
	display: block
	+at-breakpoint($pad)
		display: none
.desktop-only
	display: none
	+at-breakpoint($pad)
		display: block
