
html 
	background: $color-bg
	background: image-url("bg.png") $color-bg

html
	overflow-x: hidden

.container 
	+container()
	// overflow: hidden
	margin: 0 auto
	//+susy-grid-background()
	+at-breakpoint($pad)
		//+set-container-width
		//+susy-grid-background()
	+at-breakpoint($pc)
		//+set-container-width
		//+susy-grid-background()
.index
	display: block
	+at-breakpoint($pc)
		h1
			display: none
		img 

.row	
	+pie-clearfix
	+span-columns(12)

	+at-breakpoint($pad)
		.col-6
			+span-columns(6)
			+nth-omega(2n)


.content
	+span-columns($total-columns omega)
	+transition(all,.3s)
	.open & 
		margin-right: - space($side)
	+at-breakpoint($pad)
		.open & 
			margin-right: - space($side)



.mobile-only
	display: block
	+at-breakpoint($pad)
		display: none
.desktop-only
	display: none
	+at-breakpoint($pad)
		display: block
