@import partials/button
%line-element
	height: $base-line-height
	//background: image-url("line-element.png") repeat-x
	@media #{$retina-display-media}
		//background: image-url("line-element2x.png") repeat-x
		+background-size(auto image-height("line-element.png"))
#svg
	margin: 0 auto
	text-align: center
	+trailer(2)
.page-title:before, .footer-line
	height: 24px
	//background: url("../images/line-element.png?1401507867") repeat-x

@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)
	.page-title:before, .footer-line
		//background: url("../images/line-element2x.png?1401508772") repeat-x
		-moz-background-size: auto 26px
		-o-background-size: auto 26px
		-webkit-background-size: auto 26px
		background-size: auto 26px

.page-title
	position: relative
	font-size: 1.5em
	line-height: 2em
	color: #ffd74d
	margin-bottom: 3em

.page-title:before
	content: ""
	position: absolute
	bottom: -24px
	left: 0
	right: 0

.page-title h1
	margin-bottom: 24px
	text-align: center

@media (min-width: 960px)
	.page-title h1
		margin: 0
		background: none
		color: #ffd74d
		text-align: left


.section
	position: relative
	z-index: $section-index
	

.bg-rotate
	+trailer(10)
	&:before
		content: ""
		background-color: $color-bg
		top: rhythm(-2)
		bottom: rhythm(-2)
		left: -999px
		right: -999px
		position: absolute
		box-shadow: 0 0 0 1px $error-color
		z-index: -1
		+transform(rotate(-7deg))


//square menu
$square-btn-size: 36px
$square-btn-padding: 4px
$square-btn-translate: ($square-btn-size/3) - $square-btn-padding

.square-btn
	display: block
	width: $square-btn-size
	height: $square-btn-size
	position: relative
	cursor: pointer
	background-color: $color-bg
	+box-shadow(0 0 0 1px $main-color)
	& > span
		display: block
		width: $square-btn-size - $square-btn-padding*2
		height: 1px
		background-color: $main-color
		position: absolute
		top: -1px
		left: 0
		right: 0
		bottom: 0
		margin: auto

.showmenu 
	margin-top: ($base-line-height*2 - $square-btn-size)/2
	& > span
		+transition(all .3s )
		&:nth-child(1)
			+transform(translateY(-$square-btn-translate))
		&:nth-child(2)
			+transform(translateY($square-btn-translate))  
	.menu-show &
		span
			top: $square-btn-translate
			background-color: $alert-color
			@for $i from 1 through 3
				&:nth-child(#{$i})
					+transform(rotate((0deg+($i - 1)*120)) translateY($square-btn-translate))

.scroll-top
	position: fixed
	right: $gutter-width
	bottom: $gutter-width

.scroll-top-btn
	+transition(all .3s )
	& > span
		top: $square-btn-translate
		@for $i from 1 through 3
			&:nth-child(#{$i})
				+transform(rotate((0deg+($i - 1)*120)) translateY($square-btn-translate))
	opacity: 0
	+transform(scale(2))
	pointer-events: none

	&.active
		opacity: 1
		+transform(scale(1))
		pointer-events: auto
		
//menu end

.sns
	//+leader(-1)
	+adjust-font-size-to($font-size-xl)


.sns a
	display: inline-block
	-moz-transition: color 0.3s, -moz-transform 0.3s
	-o-transition: color 0.3s, -o-transform 0.3s
	-webkit-transition: color 0.3s, -webkit-transform 0.3s
	transition: color 0.3s ease 0s, transform 0.3s ease 0s
	-moz-transform: rotate(0)
	-ms-transform: rotate(0)
	-webkit-transform: rotate(0)
	transform: rotate(0deg)
	color: #56CAB6

.sns a:hover
	-moz-transform: rotate(-10deg)
	-ms-transform: rotate(-10deg)
	-webkit-transform: rotate(-10deg)
	transform: rotate(-10deg)
	color: #1d7c6b

.pc-banner
	display: none
	+at-breakpoint($pad)
		display: block
		margin-bottom: 1em
.mobile-banner 
	time
		+adjust-font-size-to($font-size-xxl)
		display: block
		text-align: center
		+leader(.5)
		+trailer(.5)
	+at-breakpoint($pad)
		display: none
.mobile-banner-img
	+adjust-font-size-to(16px)
	
@media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5), (min-resolution: 1.5dppx)


