<menu class="main-menu">
	<div class="container">
		
		
	<a href="/" class="logo desktop-only"></a>
	<ul>
		<li class="menu-link"><a class="active" href="index.html"><span>首頁</span></a></li>	
		<li class="menu-link"><a href="news.html"><span>公告</span></a></li>	
		<li class="menu-link"><a href="session.html"><span>議程</span></a></li>
		<li class="menu-link"><a href="sponsor.html"><span>贊助</span></a></li>
		<li class="menu-link"><a href="speakers.html"><span>講者</span></a></li>
		<li class="menu-link"><a href="location.html"><span>交通</span></a></li>
		<!-- <li class="menu-link"><a href="#"><span>IRC</span></a></li>
-->			<!-- <li class="menu-link"><a href="#"><span>Apps</span></a></li> -->
		<li class="menu-link"><a href="community.html"><span>社群</span></a></li>
		<!-- <li class="menu-link"><a href="#"><span>其他</span></a></li> -->
	</ul>

	<div class="mobile-menu mobile-only">
        <a class="square-btn showmenu mobile-only">
        	<span></span>
        	<span></span>
        	<span></span>
        </a>
        <h1 class="mobile-only">MOPCON 2014</h1>
    </div>


		


	</div>
</menu>