
<article class="content kh-❤">
	<div class="page-title">
		<a class="showmenu">
				<i class="icon-list22"></i>
			</a>
		<h1>社群</h1>
	</div>

<script>
	$(function(){
		
	})
</script>
	
	
	<div class="group-wrap">
		<aside class="group-aside">
			<div class="group-list">

				<% (1..5).each do |n| %>
					<a href="#">
						<svg class="hexagonal" x="0px" y="0px" width="120.93px" height="104px" viewBox="0 0 120.93 104" >
							<polygon  points="30.232,104 0,52 30.232,0 90.697,0 120.93,52 90.697,104 "/>
						</svg>

						<span>CocoaHeads <br>Kaohsiung</span>
					</a>
					
				<% end %>
					
					<!-- <a href="#">
						<span>KSDG</span>
					</a>
 -->				
			</div>
		</aside>
		<div class="group-content-wrap">
			<% (1..5).each do |n| %>
			<div class="group-content">
				<div class="group-img"><img src="images/community/ksdg.png" alt=""></div>
				<h2 class="group-name">CocoaHeads Kaohsiung</h2>
				<div class="group-links">
					<a href="#"><i class="icon-github6"></i></a>
					<a href="#"><i class="icon-facebook42"></i></a>
					<a href="#"><i class="icon-twitter4"></i></a>
				</div>
				<div class="group-banner">
					
				</div>
				<div class="group-article md-text">
					<p>經歷： (前兩者為現職)</p>	
					<ul>
						<li>CEO, iKala</li>
						<li>CEO, LIVEhouse</li>
						<li>Gamania (遊戲橘子) 董事</li>
						<li>Google 軟體工程師</li>
						<li>史丹佛大學電腦科學碩士、台大資訊工程系</li>
					</ul>	
					<p>摘要:Big data, open data, open mobile platform, quantified self, internet of things, 這些進幾年來興起的領域，代表著網際網路和全世界的大趨勢，正快速地把我們推向一個更為開放的世界。「開放已是常態、封閉無法生存」，這一個 session 中將與各位分享，在這樣開放的新世界，我們應該如何應對？</p>
					<p>經歷： (前兩者為現職)</p>	
					<ul>
						<li>CEO, iKala</li>
						<li>CEO, LIVEhouse</li>
						<li>Gamania (遊戲橘子) 董事</li>
						<li>Google 軟體工程師</li>
						<li>史丹佛大學電腦科學碩士、台大資訊工程系</li>
					</ul>	
					<p>摘要:Big data, open data, open mobile platform, quantified self, internet of things, 這些進幾年來興起的領域，代表著網際網路和全世界的大趨勢，正快速地把我們推向一個更為開放的世界。「開放已是常態、封閉無法生存」，這一個 session 中將與各位分享，在這樣開放的新世界，我們應該如何應對？</p>
				</div>
			</div>
			<% end %>
		</div>
	</div>


	

	

	

	

		
</article>