<article class="content index">
    <div class="page-title">
        <a class="showmenu">
            <i class="icon-list22"></i>
        </a>
        <h1>MOPCON 2014</h1>
    </div>
    <div class="sns" style="margin-top:-2em; font-size:1.5em; line-height:2em;">
        <a href="https://www.facebook.com/mopcon/" alt="MOPCON Facebook 粉絲團" title="MOPCON Facebook 粉絲團"><i class="icon-facebook32"></i></a>
        <a href="https://google.com/+MopconOrg" alt="MOPCON @ Google+" title="MOPCON @ Google+"><i class="icon-googleplus32"></i></a>
        <a href="https://twitter.com/mopcon" alt="MOPCON @ Twitter" title="MOPCON @ Twitter"><i class="icon-twitter22"></i></a>
    </div>
    <div class="pc-banner">
        <img src="images/banner.png"  alt="堅持在濁水溪以南舉辦的千人社群研討會，將於 2014/10/25 日到 2014/10/26 在高雄國際會議中心舉辦">
        
    </div>
    <div class="mobile-banner">
        <div class="mobile-banner-img">
            <img src="images/index-banner-retina" class="mobile-banner-img" alt="">
        </div>
        <time>2014/10/25~2014/10/26</time> 
    </div>
</article>
<!-- <svg id="svg" class="mobile-only" width="250" height="220"></svg> -->
<script>
// 	window.onload = function (){
// 	var s = Snap('#svg');
// 	Snap.load('images/mopcon_svg.svg',function(m){
// 		_outer = m.selectAll('.outer')
// 		_m = m.selectAll('.m')
// 		_text = m.selectAll('.text')
// 		_all = m.selectAll('.all') 

// 		_all.attr({fill: 'none', stroke: 'white'})
// 		_outer.attr({opacity: "0"});
// 		_m.attr({opacity: "0"});
// 		_text.attr({opacity: "0"});
// 		s.append(m);


// 		var parts = [
//                 ["outer", [0, 20]], 
//                 ["m", [20, 0]], 
//                 ["text", [0, -20]]
//             ],
//             i = 0,
//             showTimer = null,
//             hideTimer = null;

//         for (i = 0; i < parts.length; i++) {
//             var el = parts[i],
//             element = s.select("." + el[0]);
//             element.attr({
//                 opacity: 0,
//                 transform: "t" + el[1]
//             });
//             parts[i].push(element);
//         }

//         i = 0;

//             function showEach() {
//                 clearTimeout(hideTimer);
//                 if (i >= parts.length) return;
//                 parts[i][2].animate({ 
//                     transform: "t0,0",
//                     opacity: 1
//                 }, 300, mina.easeout);
//                 showTimer = setTimeout(showEach, 200);
//                 i++;
//                 if (i >= parts.length) i = parts.length-1;
//             }

//             function hideEach() {
//                 clearTimeout(showTimer);
//                 if (i < 0) return;
//                 parts[i][2].animate({ 
//                     transform: "t" + parts[i][1],
//                     opacity: 0
//                 }, 200, mina.easeout);
//                 hideTimer = setTimeout(hideEach, 200);
//                 i--;
//                 if (i < 0) i = 0;
//             }

//             setTimeout(function () {
//                 // s.attr({
//                 //     display: "inline"
//                 // });
//                 showEach();
//             }, 100);

//            // s.hover(hideEach, showEach);
// 	});
// }


</script>