<article class="content timeline">
<% (1..5).each do |n| %>
	<section class="anti-☢">
		<time>
		<em>2014</em><br>08/05
		<svg class="news-svg" width="72" height="72">
          <line class="news-svg-top" x1="0" y1="0" x2="216" y2="0"/>
          <line class="news-svg-left" x1="0" y1="72" x2="0" y2="-144"/>
          <line class="news-svg-bottom" x1="72" y1="72" x2="-144" y2="72"/>
          <line class="news-svg-right" x1="72" y1="0" x2="72" y2="216"/>
     	 </svg>
			
		</time>
		<div class="news-content">
			<div class="news-label">
				<p>目前高市府社會局表示援助物資已足夠，如果大家願意捐款協助救助與重建事宜，歡迎參考高市府社會局專戶。MOPCON工作小組也在各自所屬公司發起員工捐款，天佑高雄、天佑台灣！<br> <a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fsocbu.kcg.gov.tw%2F%3Fhtml%3Dnews_show.php%26loc%3Dhome%26news_id%3D1723&amp;h=0AQEKX61r&amp;s=1" rel="nofollow nofollow" target="_blank" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/socbu.kcg.gov.tw\/?html=news_show.php&amp;loc=home&amp;news_id=1723&quot;);" onclick="LinkshimAsyncLink.swap(this, &quot;http:\/\/l.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Fsocbu.kcg.gov.tw\u00252F\u00253Fhtml\u00253Dnews_show.php\u002526loc\u00253Dhome\u002526news_id\u00253D1723&amp;h=0AQEKX61r&amp;s=1&quot;);">http://socbu.kcg.gov.tw/?html=news_show.php&amp;loc=home&amp;news_id=1723</a><br><br><a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fsocbu.kcg.gov.tw%2F%3Fhtml%3Dnews_show.php%26loc%3Dhome%26news_id%3D1723&amp;h=SAQFkYjf2&amp;s=1" id="" title="" target="" onclick="LinkshimAsyncLink.swap(this, &quot;http:\/\/l.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Fsocbu.kcg.gov.tw\u00252F\u00253Fhtml\u00253Dnews_show.php\u002526loc\u00253Dhome\u002526news_id\u00253D1723&amp;h=SAQFkYjf2&amp;s=1&quot;);" style="" rel="nofollow" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/socbu.kcg.gov.tw\/?html=news_show.php&amp;loc=home&amp;news_id=1723&quot;);"><img class="img" src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAscbsu2Ymh6_Xm&amp;w=154&amp;h=154&amp;url=http%3A%2F%2Fsocbu.kcg.gov.tw%2F_php_module%2Fupload%2Fnews%2FNEWS_20140801143439.png" alt=""></a><br><a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fsocbu.kcg.gov.tw%2F%3Fhtml%3Dnews_show.php%26loc%3Dhome%26news_id%3D1723&amp;h=aAQGeSOzb&amp;s=1" id="" target="_blank" onclick="LinkshimAsyncLink.swap(this, &quot;http:\/\/l.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Fsocbu.kcg.gov.tw\u00252F\u00253Fhtml\u00253Dnews_show.php\u002526loc\u00253Dhome\u002526news_id\u00253D1723&amp;h=aAQGeSOzb&amp;s=1&quot;);" style="" rel="nofollow" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/socbu.kcg.gov.tw\/?html=news_show.php&amp;loc=home&amp;news_id=1723&quot;);">最新消息 - 高雄市政府社會局</a><br>socbu.kcg.gov.tw<br>保護專線113 社會福利諮詢專線07-3344885 托育服務諮詢專線07-3943322 生命轉彎專線07-3226666 家庭關懷諮商專線07-5350885#1 高市男性關懷專線07-5350885#2. ::: 首頁 &gt; 最新消息 &gt; 瀏覽最新消息. 最新消息....				</p>
	
				
			</div>
		</div>
	</section>
<% end %>
</article>