<article class="content timeline">
	<div class="page-title">
		<a class="showmenu">
			<i class="icon-list22"></i>
		</a>
		<h1>公告</h1>
	</div>
	<section class="anti-☢">
		<time>
			<em>2014</em><br>08/05
		</time>
		<div class="news-content">
			<div class="news-label">
				<p>
					<p>目前高市府社會局表示援助物資已足夠，如果大家願意捐款協助救助與重建事宜，歡迎參考高市府社會局專戶。MOPCON工作小組也在各自所屬公司發起員工捐款，天佑高雄、天佑台灣！<br> <a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fsocbu.kcg.gov.tw%2F%3Fhtml%3Dnews_show.php%26loc%3Dhome%26news_id%3D1723&amp;h=0AQEKX61r&amp;s=1" rel="nofollow nofollow" target="_blank" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/socbu.kcg.gov.tw\/?html=news_show.php&amp;loc=home&amp;news_id=1723&quot;);" onclick="LinkshimAsyncLink.swap(this, &quot;http:\/\/l.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Fsocbu.kcg.gov.tw\u00252F\u00253Fhtml\u00253Dnews_show.php\u002526loc\u00253Dhome\u002526news_id\u00253D1723&amp;h=0AQEKX61r&amp;s=1&quot;);">http://socbu.kcg.gov.tw/?html=news_show.php&amp;loc=home&amp;news_id=1723</a><br><br><a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fsocbu.kcg.gov.tw%2F%3Fhtml%3Dnews_show.php%26loc%3Dhome%26news_id%3D1723&amp;h=SAQFkYjf2&amp;s=1" id="" title="" target="" onclick="LinkshimAsyncLink.swap(this, &quot;http:\/\/l.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Fsocbu.kcg.gov.tw\u00252F\u00253Fhtml\u00253Dnews_show.php\u002526loc\u00253Dhome\u002526news_id\u00253D1723&amp;h=SAQFkYjf2&amp;s=1&quot;);" style="" rel="nofollow" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/socbu.kcg.gov.tw\/?html=news_show.php&amp;loc=home&amp;news_id=1723&quot;);"><img class="img" src="https://fbexternal-a.akamaihd.net/safe_image.php?d=AQAscbsu2Ymh6_Xm&amp;w=154&amp;h=154&amp;url=http%3A%2F%2Fsocbu.kcg.gov.tw%2F_php_module%2Fupload%2Fnews%2FNEWS_20140801143439.png" alt=""></a><br><a href="http://l.facebook.com/l.php?u=http%3A%2F%2Fsocbu.kcg.gov.tw%2F%3Fhtml%3Dnews_show.php%26loc%3Dhome%26news_id%3D1723&amp;h=aAQGeSOzb&amp;s=1" id="" target="_blank" onclick="LinkshimAsyncLink.swap(this, &quot;http:\/\/l.facebook.com\/l.php?u=http\u00253A\u00252F\u00252Fsocbu.kcg.gov.tw\u00252F\u00253Fhtml\u00253Dnews_show.php\u002526loc\u00253Dhome\u002526news_id\u00253D1723&amp;h=aAQGeSOzb&amp;s=1&quot;);" style="" rel="nofollow" onmouseover="LinkshimAsyncLink.swap(this, &quot;http:\/\/socbu.kcg.gov.tw\/?html=news_show.php&amp;loc=home&amp;news_id=1723&quot;);">最新消息 - 高雄市政府社會局</a><br>socbu.kcg.gov.tw<br>保護專線113 社會福利諮詢專線07-3344885 托育服務諮詢專線07-3943322 生命轉彎專線07-3226666 家庭關懷諮商專線07-5350885#1 高市男性關懷專線07-5350885#2. ::: 首頁 &gt; 最新消息 &gt; 瀏覽最新消息. 最新消息....				</p>
				</p>	
				
			</div>
		</div>
	</section>
	<section class="anti-☢">
		<time>
			<em>2014</em><br>06/01
		</time>
		<div class="news-content">
			<div class="news-label">
				<p>
					微議程 (lightning talk) 跟其它的議程一樣，也是一樣站在講台上跟大家分享議題，不同的是演講時間只有5分鐘(包括投影機設置的時間)。 
					<br /> 
					微議程將會在最大的國際會議廳進行，屆時所有的會眾都將集中到這邊，您可以跟所有與會的會眾介紹、分享您的想法、技術，或是熱情。如果您也有些想法想來跟大家分享，我們相信這會是個刺激而且有趣的好機會。
				</p>	
				<p>有興趣的朋友請來信至 <a href="#">sponsor@mopcon.org</a>，歡迎來與大家一起同樂。 </p>
			</div>
		</div>
	</section>
	<section class="anti-☢">
		<time>
			<em>2014</em><br>05/26
		</time>
		<div class="news-content">
			<div class="news-label">
				<p>
					我們在昨天愚人節時段公布 MOPCON 2014 將挺進千人研討會規模，遭到多方質疑是愚人節活動，為了表達籌備團隊的決心，今天我們要大聲宣布： <br />
					MOPCON 2014 將是「堅持在濁水溪以南的千人社群研討會」！
				</p>	
			</div>
		</div>
	</section>
	<section class="anti-☢">
		<time>
			<em>2013</em><br>07/31
		</time>
		<div class="news-content">
			<h2>活動報名即將開始！</h2>
			<div class="news-label">
				<p>
					MOPCON 2013 報名倒數一日，各位準備好了嗎？
					請千萬別錯過 9/28 20:00 正式開始的 MOPCON 2013 報名活動。
				</p>	
			</div>
		</div>
	</section>
</article>