
<article class="content love-☺">
	<div class="page-title">
		<a class="showmenu">
			<i class="icon-list22"></i>
		</a>
		<h1>講者介紹</h1>
	</div>
	<div class="speaker-wrap md-text">
		<% (1..5).each do |n| %>
		<section class="speaker-container">
			<div class="speaker-img"><img src="images/speakers/sega.jpg" alt=""></div>
			<h2 class="speaker-name">程世嘉<span class="sub">Sega Cheng 723</span></h2>
			<h4 class="title">Open is the new norm.</h4>
			<div class="description">
				<p>經歷： (前兩者為現職)</p>	
				<ul>
					<li>CEO, iKala</li>
					<li>CEO, LIVEhouse</li>
					<li>Gamania (遊戲橘子) 董事</li>
					<li>Google 軟體工程師</li>
					<li>史丹佛大學電腦科學碩士、台大資訊工程系</li>
				</ul>	
				<p>摘要:Big data, open data, open mobile platform, quantified self, internet of things, 這些進幾年來興起的領域，代表著網際網路和全世界的大趨勢，正快速地把我們推向一個更為開放的世界。「開放已是常態、封閉無法生存」，這一個 session 中將與各位分享，在這樣開放的新世界，我們應該如何應對？</p>	
			</div>
		</section>
		<section class="speaker-container">
			<div class="speaker-img"><img src="images/speakers/shakalaca.jpg" alt=""></div>
			<h2 class="speaker-name">Shakalaca</h2>
			<!-- <h4 class="title">Open is the new norm.</h4> -->
			<div class="description">
				<p>身兼數職：尿布管理員, 搖籃推進器, 嘴砲攻城獅, 鈔票劊子手。</p>	
				<!-- <p>目前與朋友創業打怪中，最愛 Android (App) 開發，常出沒於 Taipei GTUG 聽取各路好手分享技術，也樂於跟大家分享程序員有興趣的小技巧或小工具</p>
				<p><a href="http://about.me/shakalaca">http://about.me/shakalaca</a></p>
				<p>題目：深入淺出桌椅組裝器材 (Head First Android Dev Tools)</p>
				<p>摘要：傳授 gradle，genymotion...等工具的使用心法，歡迎喜愛桌椅組裝的朋友切磋交流。</p> -->
			</div>
		</section>
		<% end %>
	</div>


	

	

	

	

		
</article>