.timeline
	margin-top: $base-font-size * 2
	margin-bottom: 3em
.anti-☢
	margin-bottom: $base-font-size
	position: relative
	&:first-child
	time
		+box-sizing(border-box)
		height: $base-line-height * 3
		color: $error-color
		width:  $base-line-height * 3
		float: left 
		overflow: hidden
		text-align: center 
		padding-top: $base-font-size / 1.3
		position: relative
		font-size: $font-middle
		&:after
			content: ""
			position: absolute
			top: 4px
			left: 4px
			width: 62px
			height: 62px
			border: 1px solid rgba($error-color, $opacity-m)
	
		em 
			font-size: $font-middle
	.news-svg
		position: absolute
		top: 0
		left: 0

	.news-svg line
		stroke-width: 2
		stroke: $error-color
		fill: none
		stroke-dasharray: 72

	.news-svg-top
		+animation(top 3s linear infinite)
	.news-svg-left
		+animation(left 3s linear infinite)
	.news-svg-bottom
		+animation(bottom 3s linear infinite)
	.news-svg-right
		+animation(right 3s linear infinite)
	
	.news-content
		margin-left: $base-line-height * 4 	
		@extend %bg
		padding: rhythm(1)
		position: relative
		border-right: 1px solid rgba($error-color, $opacity-m)
		&:before
			display: block
			content: ''
			height: $base-line-height
			position: absolute
			+triangle(16px,rgba(black,.2),left)
			top: 30px
			left: -16px
		h2 
			color: $white
			+adjust-font-size-to($font-middle)	
			+at-breakpoint($pad)
				+adjust-font-size-to($font-big)	
		a 
			//color: $hot-color
		p 
			+trailer(1)
	&:before
		content: ''
		position: absolute
		top: 72px
		bottom: 0
		width: 10px
		border-right: 1px dashed $error-color
		left: $base-line-height * 1.1
	&:after
		content: ''
		position: absolute
		// top: 72px
		bottom: - $base-font-size
		height: 15px
		width: 10px
		border-right: 1px dashed $error-color
		left: $base-line-height * 1.1
	.news-label
		word-break: break-all
+keyframes(top)
	from
		+translateX(0px)
	to
		+translateX(-144px)
+keyframes(left)
	from
		+translateY(72px)
	to
		+translateY(216px)
+keyframes(bottom)
	from
		+translateX(0px)
	to
		+translateX(144px)
+keyframes(right)
	from
		+translateY(72px)
	to
		+translateY(-72px)
